/docs/public
/tests/test_real_time/
/tests/tests_output
/models
.MMM/
.idea
__pycache__
**/__pycache__
.venv/
**/.DS_Store
.vscode/
**/*.mid
!tests/resources/midis/*.mid
build/
external/
libraries/
wheelhouse/*
!wheelhouse/scripts/
!wheelhouse/scripts/*.ps1
!wheelhouse/scripts/*.sh
.pytest_cache
**/*.sif
**/*.zip
**/*.sandbox
build-temp-**